<module version='2.0'>
  <meta>
    <identity>
      <uri>urn:alex:test:module</uri>
      <version>1.0.0</version>
    </identity>
    <info>
      <name>my test module</name>
      <description />
    </info>
  </meta>
  <system>
    <dynamic />
  </system>
  <rootspace>
    <fileset>
      <regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
    </fileset>
    <fileset>
      <regex>res:/get-doc-file/(.*)</regex>
      <rewrite>res:/resources/doc/$1</rewrite>
    </fileset>
    <mapper>
      <config>
        <endpoint>
          <grammar>
            <simple>res:/test/hello/{user}</simple>
          </grammar>
          <request>
            <identifier>active:freemarker</identifier>
            <argument name='operator'>res:/resources/scripts/test.ftl</argument>
            <argument name='user' method='as-string'>[[arg:user]]</argument>
          </request>
        </endpoint>
        <endpoint>
          <grammar>
            <simple>res:/test/hello2/{user}</simple>
          </grammar>
          <request>
            <identifier>active:groovy</identifier>
            <argument name='operator'>res:/resources/scripts/myscript.groovy</argument>
            <argument name='user'>[[arg:user]]</argument>
          </request>
        </endpoint>
      </config>
      <space>
        <import>
          <uri>urn:org:netkernel:lang:freemarker</uri>
        </import>
        <fileset>
          <regex>res:/resources/scripts/test.ftl</regex>
        </fileset>
        <import>
          <uri>urn:org:netkernel:lang:groovy</uri>
        </import>
        <fileset>
          <regex>res:/resources/scripts/myscript.groovy</regex>
        </fileset>
      </space>
    </mapper>
  </rootspace>
</module>